<% if (locals.errors) {%>
<div class="notification is-danger is-light">
  <button class="delete"></button>
  <% errors.forEach(function(error) { %>
  <% if (error.msg === 'Incorrect username') { %>
  Invalid username or password.
  <% } else { %>
  <%= error.msg %>
  <% } %>
  <% }); %>
</div>
<% } %>