<footer class="footer p-4">
  <div class="content has-text-centered">
    <p>This project is part of <a href="https://www.theodinproject.com/">The Odin Project</a>. Created by <a href="https://github.com/arnplsrz">arnplsrz</a></p>
  </div>
</footer>