<%- include("../partials/errors") %>
<% if (locals.user) { %>
<h1>Welcome back, <%= user.username %></h1>
<% } %>
<p>Join the club</p>
<p>Enter the secret passcode</p>
<form action="/membership" method="POST">
  <label for="passcode">Passcode</label>
  <input type="text" id="passcode" name="passcode" placeholder="Enter passcode" />
  <button type="submit">Join</button>
</form>