<section class="section new-message is-maxheight">
  <div class="container pb-6 is-maxheight is-flex is-flex-direction-column is-justify-content-center">
    <h1 class="title">New Message</h1>
    <p class="subtitle">Send a message to the anyone!</p>
    <form action="/new-message" method="POST">
      <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
          <input class="input" type="text" id="title" name="title" placeholder="Enter message title" minlength="1" maxlength="75" required />
        </div>
      </div>
      <div class="field">
        <label class="label" for="content">Message</label>
        <div class="control">
          <textarea class="textarea" id="content" name="content" placeholder="Enter your message" minlength="1" maxlength="350" required></textarea>
        </div>
      </div>
      <div class="field mt-5">
        <div class="control">
          <button class="button is-primary" type="submit">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</section>