<section class="section">
  <h2 class="title is-2"><%= title %></h2>
  <p class="subtitle">Sign in to your account</p>
  <%- include("../partials/errors") %>
  <form action="/sign-in" method="POST">
    <div class="field">
      <label class="label" for="username">Username</label>
      <div class="control">
        <input class="input" type="text" id="username" name="username" placeholder="Enter your username" value="<%= formData.username %>" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <div class="control">
        <input class="input" type="password" id="password" name="password" placeholder="Enter your password" value="<%= formData.password %>" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Sign In</button>
      </div>
    </div>
  </form>
</section>